/* 
   Project: Edabit Clone Layout
   Author: Sonya-Div
   Date: 2026
*/

/* --- 1. CONFIGURATION & VARIABLES --- */
:root {
    --main-blue: #5f9fc7;
    --dark-blue: #3c6db3;
    --white: #ffffff;
    --input-focus: #06a4e2;
    --accent-pink: #a7166d;
    --btn-red: #dc4a38;
    --btn-facebook: rgb(59, 89, 152);
    --btn-light-blue: #b1cfda;
    --border-gray: rgba(0, 0, 0, 0.2);
    --font-lato: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* --- 2. RESET & GLOBAL STYLES --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

svg {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 25px;
}

header {
    width: 100%;
    height: 100vh;
    background: var(--white);
}

/* --- 3. NAVBAR --- */
.navbar .head {
    background: var(--main-blue);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-gray) solid 2px;
}

.navbar .head a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-lato);
}

.navbar .head .edabit {
    font-size: 2.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 190px;
}

ul {
    list-style: none;
}

.navbar .head ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-right: 190px;
}

.navbar .head ul li {
    width: 93px;
    height: 36px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 8px;
    border-radius: 4px;
    font-size: 1em;
    color: var(--white);
    font-family: var(--font-lato);
}

/* --- 4. ANIMATIONS & EFFECTS --- */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from { --angle: 0deg; }
    to { --angle: 360deg; }
}

@keyframes bgmove {
    0% { background-position: 0% 50%; }
    50% { background-position: 50% 100%; }
}

.navbar .head ul li::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200%;
    height: 400%;
    background: conic-gradient(from var(--angle), 
        transparent, 
        rgba(28, 222, 105, 0.734),
        rgba(255, 255, 0, 0.686),
        rgba(18, 183, 198, 0.542),
        rgba(233, 29, 144, 0.844),
        transparent
    );
    opacity: 1;
    animation: spin 2s linear infinite;
    transition: opacity 1s;
}

.navbar .head ul li::after,
.info ul li::after,
.languages a::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 2px;
    border-radius: 3px;
    background: var(--main-blue);
}
    @keyframes bgmove {
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 50% 100%;
        }

    }
.navbar .head ul li:hover,
.info ul li:hover,
.languages a:hover {
    background-image: linear-gradient(to bottom, var(--dark-blue), var(--accent-pink));
    animation: bgmove 2s ease-in-out .1s infinite forwards;
    background-size: 200% 200%;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px transparent inset;
    transition: .2s;
}
/* --- 5. CONTAINER & CONTENT SECTION --- */
.container {
    background: var(--main-blue);
    margin: auto;
    height: 50vh;
}

.container .content {
    display: flex;
    align-items: center;
    height: 60vh;
    overflow: hidden;
    background: var(--main-blue);
}

.container .content .info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 50vh;
    width: 45vw;
    margin-top: 7px;
    margin-left: 210px;
    letter-spacing: 2px;
}

.container .info h3 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    word-spacing: 0.3955px;
    margin-bottom: 10px;
    font-family: var(--font-lato);
}

.info p {
    color: var(--white);
    font-style: italic;
    margin-bottom: 20px;
    font-size: 22.4px;
    letter-spacing: 0.2373px;
    word-spacing: 0.3955px;
    line-height: 28px;
    font-weight: 200;
    font-family: var(--font-lato);
}

.info ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    height: 50px;
    margin-left: -15px;
}

.info ul li {
    height: 100%;
    padding: 9.5px 30px;
    text-align: center;
    border: var(--white) 2px solid;
    border-radius: 4px;
    position: relative; /* لضمان ظهور تأثير الأنيميشن */
}

.info ul li a {
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--white);
    font-family: var(--font-lato);
}

/* --- 6. LOG-IN PANEL --- */
.container .log-in {
    background: var(--white);
    height: 38vh;
    width: 28vw;
    border-radius: 4px;
    margin-bottom: 47px;
    margin-left: 70px;
}

.log-in .log {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0px;
}

.log li .btn {
    height: 38px;
    width: 190px;
    border-radius: 3px;
    color: var(--white);
    border: none;
    font-family: var(--font-lato);
    font-size: 15px;
    font-weight: 400;
    opacity: 0.96;
}

.log li .b1 {
    background-color: var(--btn-red);
}

.log li .b2 {
    background-color: var(--btn-facebook);
}

.log li .btn:hover {
    cursor: pointer;
    opacity: 1;
}

.log-in .data li {
    height: 40px;
    margin: 10px 15px;
    position: relative;
    border-radius: 4px;
    border: 1.3px solid rgba(128, 128, 128, 0.485);
}

.log-in .data li i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 16px;
}

.log-in .data li input {
    width: 100%;
    height: 100%;
    padding-left: 37px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
}

.log-in .data li input:focus {
    border-radius: 4px;
    outline: solid 1.3px var(--input-focus);
}

.log-in .data li:focus-within i {
    transition: all .4s;
    color: black;
}

.container .b3 {
    margin: 10px 16px;
    width: 93%;
    height: 5vh;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 300;
    font-size: 15px;
    color: #161414;
    background-color: var(--btn-light-blue);
}

/* --- 7. MAIN CONTENT SETUP --- */
main {
    width: 100%;
    margin: auto;
}

main .mcontainer .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 180px;
    width: 80%;
}

img {
    width: 30%;
    height: auto;
}

/* --- 8. MAIN CONTENT (IMAGES & LANGUAGES) --- */
main .mcontainer .image div {
    height: 20vh;
    margin: 0px 160px;
    font-family: var(--font-lato);
}

main .mcontainer .image p {
    color: gray;
    font-weight: 200;
    line-height: 1.5;
}

main .mcontainer .image h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.mcontainer .languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding: 50px 0;
    margin-top: 20px;
    background: var(--main-blue);
}

.languages div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 10vh;
}

.languages div a {
    text-decoration: none;
    color: var(--white);
    font-size: 28px;
    font-weight: 300;
    border: var(--white) solid 1.7px;
    width: 20%;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    position: relative; /* لضمان عمل الـ hover effect */
}

/* --- 9. MCONTENT SECTION --- */
.mcontent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    height: 50vh;
    text-align: center;
    font-family: var(--font-lato);
}

.mcontent .ima1 {
    margin-left: 140px;
}

.mcontent .ima3 {
    margin-right: 140px;
}

.mcontent div img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.mcontent p {
    margin-top: 10px;
    color: gray;
    font-style: italic;
    line-height: 20px;
}

/* --- 10. FOOTER SECTION --- */
footer, #hrl {
    width: 85%;
    margin-left: 120px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

footer div p {
    color: gray;
}

footer div a {
    text-decoration: none;
    color: var(--input-focus);
}

footer div a:hover {
    border-bottom: #303a40 solid 2px;
    padding-bottom: 4px;
}

/* --- 11. MEDIA QUERIES (RESPONSIVENESS) --- */
@media (max-width: 1371px) {
    .navbar {
        height: 42vh;
    }
    header {
        height: 44vh;
    }
    .navbar .head .edabit {
        font-size: 20px;
        letter-spacing: .3px;
        margin-left: 19px;
    }
    .navbar .head ul {
        gap: 6px;
        margin-right: 19px;
    }
    .navbar .head ul li {
        width: 89px;
    }
    .container .content .info {
        margin-left: 21px;
    }
    .container .info h3 {
        font-size: 17px;
        word-spacing: 2px;
        margin-bottom: 2px;
    }
    .info p {
        margin-bottom: 10px;
        font-size: 10px;
        line-height: 18px;
    }
    .info ul {
        gap: 12px;
        margin-top: 7px;
        height: 40px;
    }
    .info ul li {
        padding: 0;
        border-radius: 4px;
    }
    .info ul li a {
        font-size: 13px;
        letter-spacing: .2px;
        padding: 0;
    }
    .container .log-in {
        height: 28vh;
        width: 60vw;
        margin-bottom: 260px;
        margin-left: 10px;
        margin-right: 5px;
    }
    .log-in .log {
        margin: 0px;
        gap: 4px;
    }
    .log li .btn {
        margin-top: 5px;
        height: 40px;
        width: 100px;
        font-size: 13px;
    }
    .container .b3 {
        margin: 5px 16px;
        height: 3vh;
    }
    main .mcontainer .image {
        flex-wrap: wrap;
        margin-left: 18px;
        width: 80%;
    }
    main .mcontainer .image div {
        height: 20vh;
        margin: 0;
        margin-bottom: 5px;
    }
    main .mcontainer .image p {
        color: rgb(13, 9, 9);
        font-weight: 200;
        line-height: .9;
    }
    main .mcontainer .image h1 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .languages div a {
        font-size: 20px;
        width: 50%;
        padding: 15px;
    }
    .mcontent {
        gap: 10px;
    }
    .mcontent .ima1 {
        margin-left: 14px;
    }
    .mcontent .ima3 {
        margin-right: 14px;
    }
    .mcontent .ima1-1 {
        margin-bottom: 14px;
    }
    .mcontent div img {
        width: 50px;
        height: 50px;
    }
    .mcontent h1 {
        font-size: 17px;
    }
    .mcontent p {
        margin-top: 5px;
        line-height: 19px;
    }
    footer, #hrl {
        width: 80%;
        margin-left: 30px;
    }
    footer {
        padding: 20px;
    }
    footer div {
        flex-wrap: wrap;
        gap: 9px;
    }
}
